body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: papayawhip;
}

h1, h2 {
    color: royalblue;
}
 p {
    color: dimgray ;
 }

 input.submit{
    color: brown;
 }

 input.submit:hover{
    background-color: cornflowerblue;
 }

 